*{box-sizing: border-box;}
.par-title{
    width: 100%;
    height: 200px;
}
.con-title{
    width: 50%;
    float: left;
}
.con-title h1{
    padding-top: 144px;
}
/* .nav{
    border: 2px;
} */
.tb-but button{
    width:110px ;
    height: 27px;
}